.auth {
  padding: 3rem 0;
  width: 40vw;

  &__footer {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.4rem;

    a {
      color: $color-secondary;
      font-weight: 700;
    }
  }
}