.btn {
  display: block;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 5px;

  &--condicion {
    background-color: $color-primary-dark;
  }

  &--enable {
    background-color: $color-secondary;
  }

  &--disable {
    background-color: #c62828;
  }
}