// Primario
$color-primary-light: #fafafa;
$color-primary-medium: #d3d3d3;
$color-primary-dark: #242424;

// Secundario
$color-secondary-light: #4fc08d;
$color-secondary: #00796b;

// Error
$color-error-light: #ffcdd2;
$color-error-dark: #c91b2d;