// BORDER
$size-border-radius: 2px;

// FONT
$size-font-heading: 2.4rem;
$size-font-xl: 1.5rem;
$size-font-lg: 1.4rem;
$size-font-md: 1.35rem;
$size-font-sm: 1.3rem;

// TABLE
$size-table-cell-padding: 1.25rem;
$size-table-heading-padding: 1.25rem;