$font-size-xl: 1.5rem;
$font-size-lg: 1.4rem;
$font-size-md: 1.35rem;
$font-size-sm: 1.3rem;

.heading {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2rem;

  &--primary {
    text-align: center;
  }

  &--secondary {
    text-align: left;
  }
}