// Layout
$grid-width: 120rem;

// Font
$default-font-size: 1.6rem;

// Colores
$color-primary-light: #fafafa;
$color-primary-medium: #d3d3d3;
$color-primary-dark: #242424;
$color-secondary-light: #4fc08d;
$color-secondary: #00796b;
$color-error-light: #ffeaec;
$color-error-dark: #c91b2d;

// Border
$default-border-radius: 4px;

// Input spacing
$default-input-padding: .75rem 1rem;